#genderSVG, #piecesSVG, #agesSVG {
    display: block;
    margin: auto
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0;
}

.hidden {
    display: none;
}

.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}

.background {
    fill: none;
    pointer-events: all;
}

.feature {
    fill: #ccc;
    cursor: pointer;
}

.activey {
    fill: #FFB351 !important;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.selecting {
    float: left;
    padding:20px;
    width:80%;
}

.hidden {
    display: none;
}

.stat-screen {
    float:right;
    width:20%
}

.svg-content-responsive {
}

.legend {
    font-size: 10px;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Tooltip */

div.tooltip {
    position: absolute;
    text-align: left;
    display: inline;
    padding: 6px;
    font: 20px sans-serif;
    background-color: #000;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    color: #fff;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.x.axis path {
    display: none;
}

.bar, .bar3 {
    fill: #B3DCFC;
}


a {
    color: #B3DCFC;
    text-decoration: none;
}

h1 { white-space: nowrap; }

/*
#chart-area {
    z-index: -2;
    position: absolute;
}*/

#row1 {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 0%;
    width: 100%;
}

#report {
    position: fixed;
    right: 0;
    left: 87%;
    z-index: 2030;
    height: 3vw;
    width: 12vw;
    float:right;
    color: #005491;
}

.contain {
    padding-left: 0px;
    padding-right: 0px;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #E4F4F9;
    background-color: #ffffff;
    font-size: 0.8vw;
    line-height: 1.1vw;
}

.row {
    margin-left: 0px;
    margin-right: 0px;

}

#header1 {
    width: 100%;
    height: 7vw;
    float: left;
    background-color: #005491;
}

#header2 {
    width:75%;
    float: right;
    background-color: white;
    border-bottom: solid #005491 0.1vw;
}

#overlay {
    fill: #005491;
}

#choose {
    float:left;
}

#insights{
    float:right;
}

.btn {
    font-family: "Helvetica";
    margin-top: 0.5vw;
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0.5vw;
    padding: 0.5vw;
    color: #31465B;
}

h1 {
    font-family: "Helvetica";
    font-size: 3vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 2vw;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
    color: #E4F4F9;
}

h3 {
    font-family: "Helvetica";
    font-size: 1.5vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 0.5vw;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
    color: white;
}


/*
.country.piece {
    fill: #0082C4;
}

.country.piece.noshow {
    fill: white;
    stroke: #0082C4;
    stroke-opacity: 0.7;
    stroke-width: 1px;
    pointer-events: none;
}*/

text.title {
    font-family: "Helvetica";
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    line-height: 20px;
    color: white;
    fill: white;
    stroke: none;
    font-weight:600;
}


text.label {
    font-family: "Helvetica";
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 20px;
    color: white;
    fill: white;
}

#title {
    font-family: "Helvetica";
    pointer-events: none;
    position: fixed;
    right: 0;
    left: 0;
    margin-left: 0;
    margin-top: 42%;
    z-index: 1030;
    height: 15%;
    width: 100%;
    background-color: #E4F4F9;
}

#logo {
    float:left;
    width: 6vw;
    margin-top:0.7vw;
    margin-bottom:0.5vw;
    margin-right:0.5vw;
    margin-left:1.5vw;
    color:white;
}

#title-survey {
    font-family: "Helvetica";
    margin-top: 0.5vw;
    float:left;
    font-size: 1.7vw;
    font-weight: 600;
    line-height: 2vw;
    text-align: left;
    margin-right:2vw;
    color:white;
}

#title-survey-bottom {
    font-weight: 600;
}

#hashtag {
    font-weight:100;
    text-align:left;
    float:left;
    font-style: italic;
}

ul.share-buttons{
    list-style: none;
    padding: 0;
    float: left;
    pointer-events: all;
    margin-left:25vw;
    margin-top: 1vw;
}

ul.share-buttons li{
    display: inline;
}

ul.share-buttons img{
    width: 2vw;
}

.axis {
    font-weight: 100;
    stroke: none;
}

#buttons1{
    display:none;
}


#header3 {
    margin-top: 8%;
    width: 25%;
}

#view-world {
    margin-left: 1vw;
    margin-top: 1.5vw;
    float: left;
    color: #005491
}

#select-region {
    font-family: "Helvetica";
    float:left;
    margin-left:1vw;
    width: 8vw;
    height: 2.5vw;
    margin-top: 0.5vw;
    margin-bottom:0.5vw;
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0.5vw;
    padding: 0vw;
    color: #005491;
}

#select-insight {
    font-family: "Helvetica";
    float:right;
    margin-right:1vw;
    width: 20vw;
    height: 2.5vw;
    margin-top: 0.5vw;
    margin-bottom:0.5vw;
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0.5vw;
    padding: 0vw;
    color: #005491;
}

#select-answer {
    font-family: "Helvetica";
    float:right;
    margin-right:1vw;
    width: 14vw;
    height: 2.5vw;
    margin-top: 0.5vw;
    margin-bottom:0.5vw;
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0.5vw;
    padding: 0vw;
    color: #005491;
}


#footer {
    float:right;
    position: fixed;
    right: 0;
    left: 0;
    margin-left: 0;
    margin-top: 32%;
    z-index: 1030;
    height: 12vw;
    width: 100%;
    background-color: #005491;
}

#navtabs {
    height:2vw;
    margin-bottom: 1vw;
    margin-top:3.8vw;
    float:right;
    border:none;
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0.5vw;
}

.tabbs {
    height:2vw;
    padding: 1vw;
    color: white;
}

#map {
    z-index: 2000;
}

#select-view {
    font-family: "Helvetica";
    display: none;
    float:left;
    margin-left:1vw;
    width: 7vw;
    height: 2.5vw;
    margin-top: 0.5vw;
    margin-bottom:0.5vw;
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0.5vw;
    padding: 0vw;
    color: #005491;
}

#choose-regions {
    font-family: "Helvetica";
    float:left;
    margin-left:1vw;
    width: 9vw;
    height: 2.5vw;
    margin-top: 0.5vw;
    margin-bottom:0.5vw;
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0.5vw;
    padding: 0vw;
    color: #005491;
}

option {
    padding: 0.5vw 3vw;
}

#footer-text{
    font-family: "Helvetica";
    float:right;
    margin-right:3vw;
    height: 3vw;
    margin-top: 2vw;
    margin-bottom:0.5vw;
    font-size: 1vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 0.5vw;
    color: #E4F4F9;
}

#active {
    color: white;
    font-size: 1.5vw;
}

#stats {
    color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: white;
    background-color: transparent;
    border: none;
}

.tabbs:hover {
    background-color: transparent;
}

p, .about-list{
    font-size: 1.5vw;
    line-height: 2vw;
    margin-top: 1vw;
    margin-bottom:0;
    margin-left:5%;
    margin-right:5%;
}

#about-page, #acknowledgements-page {
    margin-top:7vw;
    height:42vw;
    overflow: auto;
}

h4 {
    text-align:center;
    font-size: 2.5vw;
    line-height: 3vw;
    margin-top:2vw;
    margin-bottom: 2vw;
}
/*
.pcts {
    fill:  white;
}*/